body {
        font-family: 'Lexend', sans-serif;
        background-color: #fcfcfc;
        color: #1a1a1a;
      }
      .neo-shadow {
        box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
      }
      .neo-shadow-lg {
        box-shadow: 8px 8px 0px 0px rgba(0,0,0,1);
      }
      .neo-shadow-hover:hover {
        box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
        transform: translate(2px, 2px);
      }
      .neo-shadow-active:active {
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,1);
        transform: translate(4px, 4px);
      }